.responses{
    background-color: #d3d3d3;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
    line-height: 1;
    color: #333;
    vertical-align: top;
    white-space: normal;
    text-shadow: 1px 1px 2px rgb(103, 182, 255);
}