

.App {
  text-align: center;
  background-color: black;
}

.form-label {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px purple; 
  margin-right: 10px;
  color: aliceblue;
}

.selector {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  background-color: black;
  color: aliceblue;
}
